<div class="global-area ptb-70">
    <div class="container">
        <div class="section-title">
            <h2>{{ "TRUSTEDWORLD.TRUSTEDALL" | translate }}</h2>
            <div class="bar"></div>
            <p>{{ "TRUSTEDWORLD.LOREM" | translate }}</p>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12">
                <div class="global-content">
                    <ul>
                        <li>10 {{ "TRUSTEDWORLD.MILLIONCUSTOMER" | translate }}</li>
                        <li>2M+ {{ "TRUSTEDWORLD.APIREQUEST" | translate }}</li>
                        <li>75+ {{ "TRUSTEDWORLD.COUNTRIESUSING" | translate }}</li>
                        <li>2+ {{ "TRUSTEDWORLD.SENTEVERYMONT" | translate }}</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="global-image text-center">
                    <img src="images/global-img.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>