<div class="team-area pt-70 pb-45 bg-f7fafd">
  <div class="container">
    <div class="section-title">
      <h2>{{ "TEAM.MEETOURTEAM" | translate }}</h2>
      <div class="bar"></div>
      <p>{{ "TEAM.LOREM" | translate }}</p>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="single-team-member">
          <div class="member-image">
            <img src="images/team-img1.jpg" alt="image" />
            <ul class="social">
              <li>
                <a href="#" target="_blank"
                  ><i class="fab fa-facebook-f"></i
                ></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </li>
            </ul>
          </div>
          <div class="member-content">
            <h3>James Anderson</h3>
            <span>{{ "TEAM.CEOFOUNDER" | translate }}</span>
            <p>{{ "TEAM.LOREM" | translate }}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="single-team-member">
          <div class="member-image">
            <img src="images/team-img2.jpg" alt="image" />
            <ul class="social">
              <li>
                <a href="#" target="_blank"
                  ><i class="fab fa-facebook-f"></i
                ></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </li>
            </ul>
          </div>
          <div class="member-content">
            <h3>Sarah Taylor</h3>
            <span>{{ "TEAM.COFOUNDER" | translate }}</span>
            <p>{{ "TEAM.LOREM" | translate }}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="single-team-member">
          <div class="member-image">
            <img src="images/team-img3.jpg" alt="image" />
            <ul class="social">
              <li>
                <a href="#" target="_blank"
                  ><i class="fab fa-facebook-f"></i
                ></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </li>
            </ul>
          </div>
          <div class="member-content">
            <h3>Steven Smith</h3>
            <span>{{ "TEAM.WEBDEVELOPER" | translate }}</span>
            <p>{{ "TEAM.LOREM" | translate }}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="single-team-member">
          <div class="member-image">
            <img src="images/team-img4.jpg" alt="image" />
            <ul class="social">
              <li>
                <a href="#" target="_blank"
                  ><i class="fab fa-facebook-f"></i
                ></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </li>
            </ul>
          </div>
          <div class="member-content">
            <h3>John Capabel</h3>
            <span>{{ "TEAM.PROGRAMER" | translate }}</span>
            <p>
              {{ "TEAM.LOREM" | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
