<div class="about-area ptb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-image">
                    <img src="images/support-img1.png" alt="image">
                    <img src="images/support-img2.png" alt="image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <h2>{{ "COMMONABOUT.GLOBALSUPPORT" | translate }}</h2>
                    <p>{{ "COMMONABOUT.LOREM" | translate }}</p>
                    <p>{{ "COMMONABOUT.LOREM" | translate }}</p>
                    <a routerLink="/" class="btn btn-primary">{{ "COMMONABOUT.FINDOUTMORE" | translate }}</a>
                </div>
            </div>
        </div>
    </div>
</div>