<div class="flexibility-area pt-70">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="flexibility-image">
          <img src="images/home-six/flexibility.png" alt="image" />
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="flexibility-content">
          <span>{{ "FLEXIBILITY.FLEXIBILITY" | translate }}</span>
          <h3>{{ "FLEXIBILITY.TOGIVEYOU" | translate }}</h3>
          <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6">
              <ul class="list">
                <li>
                  <i class="flaticon-check-mark"></i>
                  {{ "FLEXIBILITY.EASYTRANSFER" | translate }}
                </li>
                <li>
                  <i class="flaticon-check-mark"></i>
                  {{ "FLEXIBILITY.BUSINESSWITHOUT" | translate }}
                </li>
                <li>
                  <i class="flaticon-check-mark"></i>
                  {{ "FLEXIBILITY.INTERNATIONALPAYMENT" | translate }}
                </li>
              </ul>
            </div>
            <div class="col-lg-6 col-md-6">
              <ul class="list">
                <li>
                  <i class="flaticon-check-mark"></i>
                  {{ "FLEXIBILITY.APOWERFUL" | translate }}
                </li>
                <li>
                  <i class="flaticon-check-mark"></i>
                  {{ "FLEXIBILITY.AFFILIATES" | translate }}
                </li>
                <li>
                  <i class="flaticon-check-mark"></i>
                  {{ "FLEXIBILITY.AUTOMATED" | translate }}
                </li>
              </ul>
            </div>
          </div>
          <p>{{ "FLEXIBILITY.LOREM" | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
