<div class="features-area ptb-70 bg-f6f4f8">
    <div class="container">
        <div class="section-title">
            <h2>{{ "FEATURES.OUTFEATURES" | translate }}</h2>
            <div class="bar"></div>
            <p>{{ "FEATURES.LOREM" | translate }}</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-features-box">
                    <div class="icon">
                        <i class="flaticon-settings"></i>
                    </div>
                    <h3>{{ "FEATURES.INCREDIBLE" | translate }}</h3>
                    <p>{{ "FEATURES.LOREM" | translate }}</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-features-box">
                    <div class="icon bg-f78acb">
                        <i class="flaticon-envelope-of-white-paper"></i>
                    </div>
                    <h3>{{ "FEATURES.EMAILNOTIFICATION" | translate }}</h3>
                    <p>{{ "FEATURES.LOREM" | translate }}</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-features-box">
                    <div class="icon bg-cdf1d8">
                        <i class="flaticon-menu"></i>
                    </div>
                    <h3>{{ "FEATURES.SIMPLEDASHBOARD" | translate }}</h3>
                    <p>{{ "FEATURES.LOREM" | translate }}</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-features-box">
                    <div class="icon bg-c679e3">
                        <i class="flaticon-info"></i>
                    </div>
                    <h3>{{ "FEATURES.INFORMATIONRETRIEVAL" | translate }}</h3>
                    <p>{{ "FEATURES.LOREM" | translate }}</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-features-box">
                    <div class="icon bg-eb6b3d">
                        <i class="flaticon-cursor"></i>
                    </div>
                    <h3>{{ "FEATURES.DRAGANDDROP" | translate }}</h3>
                    <p>{{ "FEATURES.LOREM" | translate }}</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-features-box">
                    <div class="icon">
                        <i class="flaticon-alarm"></i>
                    </div>
                    <h3>{{ "FEATURES.DEADLINEREMINDERS" | translate }}</h3>
                    <p>{{ "FEATURES.LOREM" | translate }}</p>
                </div>
            </div>
        </div>
    </div>
</div>