<div class="ctp-services-area pb-45">
  <div class="container">
    <div class="section-title">
      <h2>{{ "CURRENCYTRANSFERPROVIDERSERVICES.PERSONAL" | translate }}</h2>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-3 col-sm-6">
        <div class="ctp-services-card">
          <h3>
            <div class="icon">
              <img
                src="images/currency-transfer-provider/services/mobile-payment.svg"
                alt="image"
              />
            </div>
            {{ "CURRENCYTRANSFERPROVIDERSERVICES.REGULARPAYMENTS" | translate }}
          </h3>
          <p>{{ "CURRENCYTRANSFERPROVIDERSERVICES.LOREM" | translate }}</p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="ctp-services-card">
          <h3>
            <div class="icon">
              <img
                src="images/currency-transfer-provider/services/warning.svg"
                alt="image"
              />
            </div>
            {{ "CURRENCYTRANSFERPROVIDERSERVICES.RATEALERTS" | translate }}
          </h3>
          <p>{{ "CURRENCYTRANSFERPROVIDERSERVICES.LOREM" | translate }}</p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="ctp-services-card">
          <h3>
            <div class="icon">
              <img
                src="images/currency-transfer-provider/services/fluctuation.svg"
                alt="image"
              />
            </div>
            {{ "CURRENCYTRANSFERPROVIDERSERVICES.MARKETANALYSIS" | translate }}
          </h3>
          <p>{{ "CURRENCYTRANSFERPROVIDERSERVICES.LOREM" | translate }}</p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="ctp-services-card">
          <h3>
            <div class="icon">
              <img
                src="images/currency-transfer-provider/services/contract.svg"
                alt="image"
              />
            </div>
            {{ "CURRENCYTRANSFERPROVIDERSERVICES.SPOTCONTRACTS" | translate }}
          </h3>
          <p>{{ "CURRENCYTRANSFERPROVIDERSERVICES.LOREM" | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
