<div class="about-us-area ptb-70">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="about-us-content">
          <span>{{ "SOCIALFINANCEAGENCYABOUT.ABOUTUS" | translate }}</span>
          <h3>
            {{ "SOCIALFINANCEAGENCYABOUT.COMMITTEDTOHELPING" | translate }}
          </h3>
          <p>{{ "SOCIALFINANCEAGENCYABOUT.THEREAREMANY" | translate }}</p>
          <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6">
              <ul class="list">
                <li>
                  <i class="flaticon-check-mark"></i
                  >{{ "SOCIALFINANCEAGENCYABOUT.FREEPLAN" | translate }}
                </li>

                <li>
                  <i class="flaticon-check-mark"></i> 100%
                  {{ "SOCIALFINANCEAGENCYABOUT.TRANSPARENTCOSTS" | translate }}
                </li>
              </ul>
            </div>
            <div class="col-lg-6 col-md-6">
              <ul class="list">
                <li>
                  <i class="flaticon-check-mark"></i>
                  {{ "SOCIALFINANCEAGENCYABOUT.FULLDATA" | translate }}
                </li>

                <li>
                  <i class="flaticon-check-mark"></i>
                  {{ "SOCIALFINANCEAGENCYABOUT.COMMITMENTFREE" | translate }}
                </li>
              </ul>
            </div>
          </div>
          <div class="about-btn">
            <a routerLink="/sign-up" class="sign-up-btn"
              >{{ "SOCIALFINANCEAGENCYABOUT.SIGNUPNOW" | translate }}
              <i class="fa-solid fa-chevron-right"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="about-us-right-content">
          <p>“{{ "SOCIALFINANCEAGENCYABOUT.DEARCUSTOMERS" | translate }}”</p>
          <div class="information d-flex align-items-center">
            <img
              src="images/home-six/user.png"
              class="rounded-circle"
              alt="image"
            />
            <div class="title">
              <h3>Alex Smith</h3>
              <span>Founder & CEO</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-us-shape">
    <img src="images/home-six/vector-shape-1.png" alt="image" />
  </div>
</div>
