<div class="ctp-reviews-area pt-70 pb-45">
  <div class="container">
    <div class="section-title">
      <h2>{{ "RATINGSREVIEWS.RATINGSANDREVIEWS" | translate }}</h2>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6">
        <div class="ctp-reviews-box">
          <ul class="rating">
            <li>
              <img
                src="images/currency-transfer-provider/star.svg"
                alt="image"
              />
            </li>
            <li>
              <img
                src="images/currency-transfer-provider/star.svg"
                alt="image"
              />
            </li>
            <li>
              <img
                src="images/currency-transfer-provider/star.svg"
                alt="image"
              />
            </li>
            <li>
              <img
                src="images/currency-transfer-provider/star.svg"
                alt="image"
              />
            </li>
            <li>
              <img
                src="images/currency-transfer-provider/star.svg"
                alt="image"
              />
            </li>
            <li>
              <span>{{ "RATINGSREVIEWS.REVIEWS" | translate }} 15</span>
            </li>
          </ul>
          <h3>{{ "RATINGSREVIEWS.GREATE" | translate }}</h3>
          <p>{{ "RATINGSREVIEWS.LOREM" | translate }}</p>
          <h4>
            Alisha Ingram
            <span>({{ "RATINGSREVIEWS.CEOFOUNDER" | translate }})</span>
          </h4>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="ctp-reviews-box">
          <ul class="rating">
            <li>
              <img
                src="images/currency-transfer-provider/star.svg"
                alt="image"
              />
            </li>
            <li>
              <img
                src="images/currency-transfer-provider/star.svg"
                alt="image"
              />
            </li>
            <li>
              <img
                src="images/currency-transfer-provider/star.svg"
                alt="image"
              />
            </li>
            <li>
              <img
                src="images/currency-transfer-provider/star.svg"
                alt="image"
              />
            </li>
            <li>
              <img
                src="images/currency-transfer-provider/star.svg"
                alt="image"
              />
            </li>
            <li>
              <span>{{ "RATINGSREVIEWS.REVIEWS" | translate }}10</span>
            </li>
          </ul>
          <h3>{{ "RATINGSREVIEWS.SAFEANDSECURE" | translate }}</h3>
          <p>{{ "RATINGSREVIEWS.LOREM1" | translate }}</p>
          <h4>
            Sharon Bass
            <span>({{ "RATINGSREVIEWS.MANAGER" | translate }})</span>
          </h4>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="ctp-reviews-box">
          <ul class="rating">
            <li>
              <img
                src="images/currency-transfer-provider/star.svg"
                alt="image"
              />
            </li>
            <li>
              <img
                src="images/currency-transfer-provider/star.svg"
                alt="image"
              />
            </li>
            <li>
              <img
                src="images/currency-transfer-provider/star.svg"
                alt="image"
              />
            </li>
            <li>
              <img
                src="images/currency-transfer-provider/star.svg"
                alt="image"
              />
            </li>
            <li>
              <img
                src="images/currency-transfer-provider/star.svg"
                alt="image"
              />
            </li>
            <li>
              <span>{{ "RATINGSREVIEWS.REVIEWS" | translate }} 16</span>
            </li>
          </ul>
          <h3>{{ "RATINGSREVIEWS.AWARDWINNING" | translate }}</h3>
          <p>{{ "RATINGSREVIEWS.LOREM2" | translate }}</p>
          <h4>
            Nancy Artiaga
            <span>({{ "RATINGSREVIEWS.FOUNDERAT" | translate }})</span>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
