<div class="ctp-money-transfer-area pb-45">
    <div class="container">
        <div class="section-title">
            <h2>{{ "HOWITWORKS.HOWDOESMONEY" | translate }}</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="ctp-money-transfer-card">
                    <h3>{{ "HOWITWORKS.CREATEAFREE" | translate }}</h3>
                    <div class="image">
                        <img src="images/currency-transfer-provider/money-transfer/customer.png" alt="image">
                        <div class="number">01</div>
                    </div>
                    <p>{{ "HOWITWORKS.LOREM" | translate }}</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="ctp-money-transfer-card">
                    <h3>{{ "HOWITWORKS.SENDYOUTFUNDS" | translate }}</h3>
                    <div class="image">
                        <img src="images/currency-transfer-provider/money-transfer/profits.png" alt="image">
                        <div class="number">02</div>
                    </div>
                    <p>{{ "HOWITWORKS.LOREM2" | translate }}</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="ctp-money-transfer-card">
                    <h3>{{ "HOWITWORKS.TRACKYOURTRANSFER" | translate }}</h3>
                    <div class="image">
                        <img src="images/currency-transfer-provider/money-transfer/data.png" alt="image">
                        <div class="number">03</div>
                    </div>
                    <p>{{ "HOWITWORKS.LOREM3" | translate }}</p>
                </div>
            </div>
        </div>
    </div>
</div>