<div class="how-it-works-area pt-70 pb-45">
  <div class="container">
    <div class="section-title">
      <h2>{{ "HOWKLOBWORK.HOWPAYDWITHWORKS" | translate }}</h2>
      <div class="bar"></div>
      <p>{{ "HOWKLOBWORK.LOREM" | translate }}</p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-6 col-md-6">
        <div class="single-how-it-works">
          <img src="images/how-it-works-image/how-it-works1.png" alt="image" />
          <h3>{{ "HOWKLOBWORK.REGISTERFORFREE" | translate }}</h3>
          <p>{{ "HOWKLOBWORK.LOREM" | translate }}</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-md-6">
        <div class="single-how-it-works">
          <img src="images/how-it-works-image/how-it-works2.png" alt="image" />
          <h3>{{ "HOWKLOBWORK.CHOOSEANAMOUNT" | translate }}</h3>
          <p>{{ "HOWKLOBWORK.LOREM" | translate }}</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-md-6">
        <div class="single-how-it-works">
          <img src="images/how-it-works-image/how-it-works3.png" alt="image" />
          <h3>{{ "HOWKLOBWORK.ADDRECIPIENT" | translate }}</h3>
          <p>{{ "HOWKLOBWORK.LOREM" | translate }}</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-md-6">
        <div class="single-how-it-works">
          <img src="images/how-it-works-image/how-it-works4.png" alt="image" />
          <h3>{{ "HOWKLOBWORK.VERIFYYOURIDENTITY" | translate }}</h3>
          <p>{{ "HOWKLOBWORK.LOREM" | translate }}</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-md-6">
        <div class="single-how-it-works">
          <img src="images/how-it-works-image/how-it-works5.png" alt="image" />
          <h3>{{ "HOWKLOBWORK.PAYFORYOUTTRANSFER" | translate }}</h3>
          <p>{{ "HOWKLOBWORK.LOREM" | translate }}</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-md-6">
        <div class="single-how-it-works">
          <img src="images/how-it-works-image/how-it-works6.png" alt="image" />
          <h3>{{ "HOWKLOBWORK.THATSIT" | translate }}</h3>
          <p>{{ "HOWKLOBWORK.LOREM" | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
