<div class="ctp-about-area ptb-70">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-12">
        <div
          class="ctp-about-image"
          style="
            background-image: url(images/currency-transfer-provider/about.jpg);
          "
        ></div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="ctp-about-content">
          <span>{{ "ABOUTPAGEONETWO.ABOUTUS" | translate }}</span>
          <h3>{{ "ABOUTPAGEONETWO.WEHELP" | translate }}</h3>
          <p>{{ "ABOUTPAGEONETWO.DONEC" | translate }}</p>
          <p>{{ "ABOUTPAGEONETWO.LOREM" | translate }}</p>
          <h4>{{ "ABOUTPAGEONETWO.OURMISSION" | translate }}</h4>
          <p>{{ "ABOUTPAGEONETWO.LOREM" | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
