<div class="blog-wrap-area pt-70 pb-45">
  <div class="container">
    <div class="wrap-section-title">
      <span>{{ "BLOG.OURBLOG" | translate }}</span>
      <h2>{{ "BLOG.WEMAKEBANKING" | translate }}</h2>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6">
        <div class="single-blog-card">
          <div class="image">
            <a routerLink="/blog-details" class="d-block">
              <img src="images/home-six/blog1.jpg" alt="image" />
            </a>
            <span class="date">{{ "BLOG.OCTOBER" | translate }} 30, 2025</span>
          </div>
          <div class="content">
            <h3>
              <a routerLink="/blog-details">{{
                "BLOG.PROTECTYOUR" | translate
              }}</a>
            </h3>
            <p>{{ "BLOG.LOREM" | translate }}</p>
            <a routerLink="/blog-details" class="read-more-btn"
              >{{ "BLOG.READMORE" | translate }}
              <i class="fa-solid fa-chevron-right"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-blog-card">
          <div class="image">
            <a routerLink="/blog-details" class="d-block">
              <img src="images/home-six/blog2.jpg" alt="image" />
            </a>
            <span class="date">{{ "BLOG.OCTOBER" | translate }}30, 2025</span>
          </div>
          <div class="content">
            <h3>
              <a routerLink="/blog-details">{{
                "BLOG.THESECURITY" | translate
              }}</a>
            </h3>
            <p>{{ "BLOG.LOREM" | translate }}</p>
            <a routerLink="/blog-details" class="read-more-btn"
              >{{ "BLOG.READMORE" | translate }}
              <i class="fa-solid fa-chevron-right"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-blog-card">
          <div class="image">
            <a routerLink="/blog-details" class="d-block">
              <img src="images/home-six/blog3.jpg" alt="image" />
            </a>
            <span class="date">{{ "BLOG.OCTOBER" | translate }} 30, 2025</span>
          </div>
          <div class="content">
            <h3>
              <a routerLink="/blog-details">{{
                "BLOG.TIPSTOREDUCE" | translate
              }}</a>
            </h3>
            <p>{{ "BLOG.LOREM" | translate }}</p>
            <a routerLink="/blog-details" class="read-more-btn"
              >{{ "BLOG.READMORE" | translate }}
              <i class="fa-solid fa-chevron-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
