<div
    class="comparisons-area ptb-70 bg-f7fafd"
    [ngClass]="{'bg-f7fafd': router.url === '/' || router.url === '/index-5' || router.url === '/pricing'}"
>
    <div class="container">
        <div class="section-title">
            <h2>{{ "COMPAREWITHOTHERS.COMPAREUSWITHOTHERS" | translate }}</h2>
            <div class="bar"></div>
            <p>{{ "COMPAREWITHOTHERS.LOREM" | translate }}</p>
        </div>
        <div class="comparisons-table table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">{{ "COMPAREWITHOTHERS.PACKAGES" | translate }}</th>
                        <th scope="col">{{ "COMPAREWITHOTHERS.FREELANCER" | translate }}</th>
                        <th scope="col">{{ "COMPAREWITHOTHERS.HOUSEHOLDER" | translate }}</th>
                        <th scope="col">{{ "COMPAREWITHOTHERS.BUSINESSMAN" | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ "COMPAREWITHOTHERS.CONTROLPAYOUT" | translate }}</td>
                        <td><i class="flaticon-check-mark"></i></td>
                        <td><i class="flaticon-check-mark"></i></td>
                        <td><i class="flaticon-check-mark"></i></td>
                    </tr>
                    <tr>
                        <td>{{ "COMPAREWITHOTHERS.TRANSPARENTPAYOUT" | translate }}</td>
                        <td><i class="flaticon-check-mark"></i></td>
                        <td><i class="flaticon-cancel"></i></td>
                        <td><i class="flaticon-check-mark"></i></td>
                    </tr>
                    <tr>
                        <td>{{ "COMPAREWITHOTHERS.AUTOMATEEVIDENCE" | translate }}</td>
                        <td><i class="flaticon-cancel"></i></td>
                        <td><i class="flaticon-check-mark"></i></td>
                        <td><i class="flaticon-check-mark"></i></td>
                    </tr>
                    <tr>
                        <td>{{ "COMPAREWITHOTHERS.COLLABORATIONNOTES" | translate }}</td>
                        <td><i class="flaticon-check-mark"></i></td>
                        <td><i class="flaticon-cancel"></i></td>
                        <td><i class="flaticon-cancel"></i></td>
                    </tr>
                    <tr>
                        <td>{{ "COMPAREWITHOTHERS.DEPOSITTAGGING" | translate }}</td>
                        <td><i class="flaticon-check-mark"></i></td>
                        <td><i class="flaticon-check-mark"></i></td>
                        <td><i class="flaticon-cancel"></i></td>
                    </tr>
                    <tr>
                        <td>{{ "COMPAREWITHOTHERS.TECHNICALSUPPORT" | translate }}</td>
                        <td><i class="flaticon-check-mark"></i></td>
                        <td><i class="flaticon-check-mark"></i></td>
                        <td><i class="flaticon-check-mark"></i></td>
                    </tr>
                    <tr>
                        <td>{{ "COMPAREWITHOTHERS.SUPPORT" | translate }}</td>
                        <td><i class="flaticon-cancel"></i></td>
                        <td><i class="flaticon-check-mark"></i></td>
                        <td><i class="flaticon-check-mark"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>