<div
    class="ctp-app-area"
    style="background-image: url(images/currency-transfer-provider/app/app-bg.jpg);"
>
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="ctp-app-content">
                    <span class="sub">{{ "CURRENCYTRANSFERPROVIDERDOWNLOAD.DOWNLOADAPP" | translate }}</span>
                    <h3>{{ "CURRENCYTRANSFERPROVIDERDOWNLOAD.LETSGETYOUT" | translate }}</h3>
                    <p>{{ "CURRENCYTRANSFERPROVIDERDOWNLOAD.INSTANT" | translate }}</p>
                    <div class="btn-box">
                        <a href="#" class="app-store-btn" target="_blank">
                            <i class="flaticon-apple"></i>
                            {{ "CURRENCYTRANSFERPROVIDERDOWNLOAD.DOWNLOADON" | translate }}
                            <span>App Store</span>
                        </a>
                        <a href="#" class="play-store-btn" target="_blank">
                            <i class="flaticon-play-store"></i>
                            {{ "CURRENCYTRANSFERPROVIDERDOWNLOAD.DOWNLOADON" | translate }}
                            <span>Google play</span>
                        </a>
                    </div>
                    <div class="info">
                        <span>{{ "CURRENCYTRANSFERPROVIDERDOWNLOAD.OVER" | translate }}</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="ctp-app-image">
                    <img src="images/currency-transfer-provider/app/app.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>