<div class="security-services-area pt-70 pb-45">
  <div class="container">
    <div class="wrap-section-title">
      <span> {{ "SECURITY.SECURITY" | translate }}</span>
      <h2>{{ "SECURITY.WESHOW" | translate }}</h2>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6">
        <div class="security-services-card">
          <div class="icon">
            <i class="flaticon-piggy-bank"></i>
          </div>
          <h3>{{ "SECURITY.TRANSPARENTPRICING" | translate }}</h3>
          <p>{{ "SECURITY.LOREM" | translate }}</p>
          <a routerLink="/" class="read-more-btn"
            >{{ "SECURITY.READMORE" | translate }}
            <i class="fa-solid fa-chevron-right"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="security-services-card">
          <div class="icon">
            <i class="flaticon-data-encryption"></i>
          </div>
          <h3>{{ "SECURITY.FULLENCRYPTED" | translate }}</h3>
          <p>{{ "SECURITY.LOREM" | translate }}</p>
          <a routerLink="/" class="read-more-btn"
            >{{ "SECURITY.READMORE" | translate }}
            <i class="fa-solid fa-chevron-right"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="security-services-card">
          <div class="icon">
            <i class="flaticon-shield"></i>
          </div>
          <h3>{{ "SECURITY.SAFEANDSECURE" | translate }}</h3>
          <p>{{ "SECURITY.LOREM" | translate }}</p>
          <a routerLink="/" class="read-more-btn"
            >{{ "SECURITY.READMORE" | translate }}
            <i class="fa-solid fa-chevron-right"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
