<div class="information-area">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-3 col-sm-6 col-md-6">
        <div class="single-information-box">
          <div class="icon">
            <i class="flaticon-piggy-bank"></i>
          </div>
          <h3>$0.00 / mo</h3>
          <p>{{ "INFORMATIONDIGITALBANKING.FREEACCOUNT" | translate }}</p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-6">
        <div class="single-information-box">
          <div class="icon">
            <i class="flaticon-user"></i>
          </div>
          <h3>10{{ "INFORMATIONDIGITALBANKING.MINUTES" | translate }}</h3>
          <p>{{ "INFORMATIONDIGITALBANKING.APPLYFORACCOUNT" | translate }}</p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-6">
        <div class="single-information-box">
          <div class="icon">
            <i class="flaticon-shield"></i>
          </div>
          <h3>$100,000</h3>
          <p>{{ "INFORMATIONDIGITALBANKING.GUARANTEE" | translate }}</p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-6">
        <div class="single-information-box">
          <div class="btn-box">
            <a href="#" class="app-store-btn" target="_blank">
              <i class="flaticon-apple"></i>
              {{ "INFORMATIONDIGITALBANKING.DOWNLOADON" | translate }}
              <span>App Store</span>
            </a>
            <a href="#" class="play-store-btn" target="_blank">
              <i class="flaticon-play-store"></i>
              {{ "INFORMATIONDIGITALBANKING.DOWNLOADON" | translate }}
              <span>Google play</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
