<div class="ctp-working-people-area ptb-70">
    <div class="container-fluid">
        <div class="row justify-content-center m-0">
            <div class="col-lg-6 col-md-12 p-0">
                <div class="ctp-working-people-content">
                    <h3>{{ "CURRENCYTRANSFERPROVIDERFEATURES.BEINGAMONEY" | translate }}</h3>
                    <div class="working-people-inner-card">
                        <div class="icon">
                            <img src="images/currency-transfer-provider/working-people/save-time.svg" alt="image">
                        </div>
                        <h4>{{ "CURRENCYTRANSFERPROVIDERFEATURES.SAVETIME" | translate }}</h4>
                        <p>{{ "CURRENCYTRANSFERPROVIDERFEATURES.LOREM" | translate }}</p>
                    </div>
                    <div class="working-people-inner-card">
                        <div class="icon">
                            <img src="images/currency-transfer-provider/working-people/money-saving.svg" alt="image">
                        </div>
                        <h4>{{ "CURRENCYTRANSFERPROVIDERFEATURES.SAVEMONEY" | translate }}</h4>
                        <p>{{ "CURRENCYTRANSFERPROVIDERFEATURES.LOREM2" | translate }}</p>
                    </div>
                    <div class="working-people-inner-card">
                        <div class="icon">
                            <img src="images/currency-transfer-provider/working-people/secure.svg" alt="image">
                        </div>
                        <h4>{{ "CURRENCYTRANSFERPROVIDERFEATURES.SENDSECURELY" | translate }}</h4>
                        <p>{{ "CURRENCYTRANSFERPROVIDERFEATURES.LOREM3" | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 p-0">
                <div
                    class="ctp-working-people-image"
                    style="background-image: url(images/currency-transfer-provider/working-people/working-people.jpg);"
                ></div>
            </div>
        </div>
    </div>
</div>