<div class="payment-features-area ptb-70">
  <div class="container">
    <div class="payment-features-overview">
      <div class="payment-features-image">
        <div class="image">
          <img src="images/payment-features1.jpg" alt="image" />
        </div>
      </div>
      <div class="payment-features-content">
        <div class="content">
          <h2>{{ "PAYMENTEXPERIENCESERVICES.RETAILPAYMENT" | translate }}</h2>
          <p>{{ "PAYMENTEXPERIENCESERVICES.LOREM" | translate }}</p>
          <p>{{ "PAYMENTEXPERIENCESERVICES.LOREM" | translate }}</p>
          <p>{{ "PAYMENTEXPERIENCESERVICES.LOREM" | translate }}</p>
          <a routerLink="/" class="link-btn">{{
            "PAYMENTEXPERIENCESERVICES.GETSTARTEDNOW" | translate
          }}</a>
        </div>
      </div>
    </div>
    <div class="payment-features-overview">
      <div class="payment-features-content">
        <div class="content">
          <h2>{{ "PAYMENTEXPERIENCESERVICES.ONLINEECOM" | translate }}</h2>
          <p>{{ "PAYMENTEXPERIENCESERVICES.LOREM" | translate }}</p>
          <p>{{ "PAYMENTEXPERIENCESERVICES.LOREM" | translate }}</p>
          <p>{{ "PAYMENTEXPERIENCESERVICES.LOREM" | translate }}</p>
          <a routerLink="/" class="link-btn">{{
            "PAYMENTEXPERIENCESERVICES.GETSTARTEDNOW" | translate
          }}</a>
        </div>
      </div>
      <div class="payment-features-image">
        <div class="image">
          <img src="images/payment-features2.jpg" alt="image" />
        </div>
      </div>
    </div>
  </div>
</div>
