<div class="ctp-countries-area pb-45">
    <div class="container">
        <div class="section-title">
            <h2>{{ "POPULERCOUNTRIES.POPULERCOUNTRIES" | translate }}</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-2 col-sm-6 col-md-4">
                <div class="ctp-countries-card">
                    <img src="images/currency-transfer-provider/countries/img1.png" alt="image">
                    <span>{{ "POPULERCOUNTRIES.USA" | translate }}</span>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-md-4">
                <div class="ctp-countries-card">
                    <img src="images/currency-transfer-provider/countries/img2.png" alt="image">
                    <span>{{ "POPULERCOUNTRIES.UK" | translate }}</span>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-md-4">
                <div class="ctp-countries-card">
                    <img src="images/currency-transfer-provider/countries/img3.png" alt="image">
                    <span>{{ "POPULERCOUNTRIES.NEWZEALAND" | translate }}</span>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-md-4">
                <div class="ctp-countries-card">
                    <img src="images/currency-transfer-provider/countries/img4.png" alt="image">
                    <span>{{ "POPULERCOUNTRIES.FRANCE" | translate }}</span>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-md-4">
                <div class="ctp-countries-card">
                    <img src="images/currency-transfer-provider/countries/img5.png" alt="image">
                    <span>{{ "POPULERCOUNTRIES.GERMANY" | translate }}</span>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-md-4">
                <div class="ctp-countries-card">
                    <img src="images/currency-transfer-provider/countries/img6.png" alt="image">
                    <span>{{ "POPULERCOUNTRIES.ITALY" | translate }}</span>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-md-4">
                <div class="ctp-countries-card">
                    <img src="images/currency-transfer-provider/countries/img7.png" alt="image">
                    <span>{{ "POPULERCOUNTRIES.GREECE" | translate }}</span>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-md-4">
                <div class="ctp-countries-card">
                    <img src="images/currency-transfer-provider/countries/img8.png" alt="image">
                    <span>{{ "POPULERCOUNTRIES.CHINA" | translate }}</span>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-md-4">
                <div class="ctp-countries-card">
                    <img src="images/currency-transfer-provider/countries/img9.png" alt="image">
                    <span>{{ "POPULERCOUNTRIES.KUWAIT" | translate }}</span>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-md-4">
                <div class="ctp-countries-card">
                    <img src="images/currency-transfer-provider/countries/img10.png" alt="image">
                    <span>{{ "POPULERCOUNTRIES.ARGENTINA" | translate }}</span>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-md-4">
                <div class="ctp-countries-card">
                    <img src="images/currency-transfer-provider/countries/img11.png" alt="image">
                    <span>{{ "POPULERCOUNTRIES.SWEDEN" | translate }}</span>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-md-4">
                <div class="ctp-countries-card">
                    <img src="images/currency-transfer-provider/countries/img12.png" alt="image">
                    <span>{{ "POPULERCOUNTRIES.THAILAND" | translate }}</span>
                </div>
            </div>
        </div>
    </div>
</div>