<div class="banner-wrapper">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="banner-wrapper-content">
                    <h1>{{ "BANNERFINANCIALSERVICE.EASY" | translate }}</h1>
                    <p>{{ "BANNERFINANCIALSERVICE.GETTHEFINANCIAL" | translate }}</p>
                    <a routerLink="/" class="btn btn-primary">{{ "BANNERFINANCIALSERVICE.GETSTARTED" | translate }}</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="banner-wrapper-image">
                    <img src="images/banner-img1.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>