<div class="ctp-choose-area pb-70">
    <div class="container-fluid">
        <div class="row justify-content-center m-0">
            <div class="col-lg-6 col-md-12 p-0">
                <div class="ctp-choose-image" style="background-image: url(images/currency-transfer-provider/choose.jpg);"></div>
            </div>
            <div class="col-lg-6 col-md-12 p-0">
                <div class="ctp-choose-content">
                    <h3>{{ "WHYCHOOSEKLOB.WHYCHOOSE" | translate }}</h3>
                    <p>{{ "WHYCHOOSEKLOB.LOREM" | translate }}</p>
                    <div class="choose-inner-card">
                        <h4>
                            <div class="icon">
                                <i class="fa-solid fa-check"></i>
                            </div>
                            {{ "WHYCHOOSEKLOB.BANKBEATING" | translate }}
                        </h4>
                        <p>{{ "WHYCHOOSEKLOB.LOREM2" | translate }}</p>
                    </div>
                    <div class="choose-inner-card">
                        <h4>
                            <div class="icon">
                                <i class="fa-solid fa-check"></i>
                            </div>
                            {{ "WHYCHOOSEKLOB.WEAREFAST" | translate }}
                        </h4>
                        <p>{{ "WHYCHOOSEKLOB.LOREM3" | translate }}</p>
                    </div>
                    <div class="choose-inner-card">
                        <h4>
                            <div class="icon">
                                <i class="fa-solid fa-check"></i>
                            </div>
                            {{ "WHYCHOOSEKLOB.EASY" | translate }}
                        </h4>
                        <p>{{ "WHYCHOOSEKLOB.LOREM4" | translate }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>