<div class="services-area pb-70">
    <div class="container-fluid p-0">
        <div class="overview-box align-items-center">
            <div class="overview-content">
                <div class="content left-content">
                    <span class="sub-title">{{ "LOANPROVIDERSSERVICE.FASTEASY" | translate }}</span>
                    <h2>{{ "LOANPROVIDERSSERVICE.FREELANCERS" | translate }}</h2>
                    <div class="bar"></div>
                    <p>{{ "LOANPROVIDERSSERVICE.LOREM" | translate }}</p>
                    <ul class="features-list">
                        <li><span><i class="flaticon-check-mark"></i> {{ "LOANPROVIDERSSERVICE.LI1" | translate }}</span></li>
                        <li><span><i class="flaticon-check-mark"></i> {{ "LOANPROVIDERSSERVICE.LI2" | translate }}</span></li>
                        <li><span><i class="flaticon-check-mark"></i>{{ "LOANPROVIDERSSERVICE.LI3" | translate }} </span></li>
                        <li><span><i class="flaticon-check-mark"></i> {{ "LOANPROVIDERSSERVICE.LI4" | translate }}</span></li>
                        <li><span><i class="flaticon-check-mark"></i> {{ "LOANPROVIDERSSERVICE.LI5" | translate }}</span></li>
                        <li><span><i class="flaticon-check-mark"></i> {{ "LOANPROVIDERSSERVICE.LI6" | translate }}</span></li>
                    </ul>
                    <a routerLink="/" class="btn btn-primary">{{ "LOANPROVIDERSSERVICE.APPLYNOW" | translate }}</a>
                </div>
            </div>
            <div class="overview-image">
                <div class="image">
                    <img src="images/4.jpg" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="services-area ptb-70 bg-f7fafd">
    <div class="container-fluid p-0">
        <div class="overview-box align-items-center">
            <div class="overview-image">
                <div class="image">
                    <img src="images/5.png" alt="image">

                    <div class="circle-img">
                        <img src="images/circle.png" alt="image">
                    </div>
                </div>
            </div>
            <div class="overview-content">
                <div class="content">
                    <span class="sub-title">{{ "LOANPROVIDERSSERVICE.TOPSECURITY" | translate }}</span>
                    <h2>{{ "LOANPROVIDERSSERVICE.SMALLTOMEDIUM" | translate }}</h2>
                    <div class="bar"></div>
                    <p>{{ "LOANPROVIDERSSERVICE.LOREM" | translate }}</p>
                    <ul class="features-list">
                        <li><span><i class="flaticon-check-mark"></i> {{ "LOANPROVIDERSSERVICE.LI7" | translate }}</span></li>
                        <li><span><i class="flaticon-check-mark"></i>{{ "LOANPROVIDERSSERVICE.LI8" | translate }} </span></li>
                        <li><span><i class="flaticon-check-mark"></i> {{ "LOANPROVIDERSSERVICE.LI9" | translate }}</span></li>
                        <li><span><i class="flaticon-check-mark"></i> {{ "LOANPROVIDERSSERVICE.L10" | translate }}</span></li>
                        <li><span><i class="flaticon-check-mark"></i>{{ "LOANPROVIDERSSERVICE.L11" | translate }} </span></li>
                        <li><span><i class="flaticon-check-mark"></i> {{ "LOANPROVIDERSSERVICE.L12" | translate }}</span></li>
                    </ul>
                    <a routerLink="/" class="btn btn-primary">{{ "LOANPROVIDERSSERVICE.GETSTARTED" | translate }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="services-area ptb-70">
    <div class="container-fluid p-0">
        <div class="overview-box align-items-center">
            <div class="overview-content">
                <div class="content left-content">
                    <span class="sub-title">{{ "LOANPROVIDERSSERVICE.PRICETRANSPARENCY" | translate }}</span>
                    <h2>{{ "LOANPROVIDERSSERVICE.LARGEOR" | translate }}</h2>
                    <div class="bar"></div>
                    <p>{{ "LOANPROVIDERSSERVICE.LOREM" | translate }}</p>
                    <ul class="features-list">
                        <li><span><i class="flaticon-check-mark"></i> {{ "LOANPROVIDERSSERVICE.LI13" | translate }}</span></li>
                        <li><span><i class="flaticon-check-mark"></i> {{ "LOANPROVIDERSSERVICE.LI14" | translate }}</span></li>
                        <li><span><i class="flaticon-check-mark"></i>{{ "LOANPROVIDERSSERVICE.LI15" | translate }} </span></li>
                        <li><span><i class="flaticon-check-mark"></i> {{ "LOANPROVIDERSSERVICE.LI16" | translate }}</span></li>
                        <li><span><i class="flaticon-check-mark"></i> {{ "LOANPROVIDERSSERVICE.LI17" | translate }}</span></li>
                        <li><span><i class="flaticon-check-mark"></i>{{ "LOANPROVIDERSSERVICE.L18" | translate }} </span></li>
                    </ul>
                    <a routerLink="/" class="btn btn-primary">{{ "LOANPROVIDERSSERVICE.CREATEACCOUNT" | translate }}</a>
                </div>
            </div>
            <div class="overview-image">
                <div class="image">
                    <img src="images/6.jpg" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="services-area ptb-70 bg-f7fafd">
    <div class="container-fluid p-0">
        <div class="overview-box align-items-center">
            <div class="overview-image">
                <div class="image">
                    <img src="images/7.jpg" alt="image">
                </div>
            </div>
            <div class="overview-content">
                <div class="content">
                    <span class="sub-title">{{ "LOANPROVIDERSSERVICE.AUTOMATEDACCOUNTING" | translate }}</span>
                    <h2>{{ "LOANPROVIDERSSERVICE.SACE24HOUTS" | translate }}</h2>
                    <div class="bar"></div>
                    <p>{{ "LOANPROVIDERSSERVICE.LOREM" | translate }}</p>
                    <ul class="features-list">
                        <li><span><i class="flaticon-check-mark"></i>{{ "LOANPROVIDERSSERVICE.LI19" | translate }} </span></li>
                        <li><span><i class="flaticon-check-mark"></i> {{ "LOANPROVIDERSSERVICE.LI20" | translate }}</span></li>
                        <li><span><i class="flaticon-check-mark"></i> {{ "LOANPROVIDERSSERVICE.LI21" | translate }}</span></li>
                        <li><span><i class="flaticon-check-mark"></i>{{ "LOANPROVIDERSSERVICE.LI22" | translate }} </span></li>
                        <li><span><i class="flaticon-check-mark"></i>{{ "LOANPROVIDERSSERVICE.LI23" | translate }} </span></li>
                        <li><span><i class="flaticon-check-mark"></i> {{ "LOANPROVIDERSSERVICE.LI24" | translate }}</span></li>
                    </ul>
                    <a routerLink="/" class="btn btn-primary">{{ "LOANPROVIDERSSERVICE.LEARNMORE" | translate }}</a>
                </div>
            </div>
        </div>
    </div>
</div>