<div class="funfacts-style-area">
    <div class="container">
        <div
            class="funfacts-style-inner-box ptb-70"
            style="background-image: url(images/home-six/funfacts-style-bg.jpg);"
        >
            <div class="row">
                <div class="col-lg-3 col-sm-3 col-md-3 col-6">
                    <div class="funfact">
                        <h3>180K</h3>
                        <p>{{ "SOCIALFINANCEAGENCYFUNFACTS.DOWNLOADED" | translate }}</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 col-md-3 col-6">
                    <div class="funfact">
                        <h3>20K</h3>
                        <p>{{ "SOCIALFINANCEAGENCYFUNFACTS.FEEDBACK" | translate }}</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 col-md-3 col-6">
                    <div class="funfact">
                        <h3>500+</h3>
                        <p>{{ "SOCIALFINANCEAGENCYFUNFACTS.WORKERS" | translate }}</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 col-md-3 col-6">
                    <div class="funfact">
                        <h3>70+</h3>
                        <p>{{ "SOCIALFINANCEAGENCYFUNFACTS.CONTRUBUTORS" | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="contact-cta-box">
                <h3>{{ "SOCIALFINANCEAGENCYFUNFACTS.HAVEANY" | translate }}</h3>
                <p>{{ "SOCIALFINANCEAGENCYFUNFACTS.DONTCONTACTUS" | translate }}</p>
                <a routerLink="/contact" class="btn btn-primary">{{ "SOCIALFINANCEAGENCYFUNFACTS.CONTACTUS" | translate }}</a>
            </div>
        </div>
    </div>
</div>